<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="1"/>    
<title>Index</title>
<style>
  #temp_1 {
    font-size: 34px;
    position: absolute;
    left: 256px;
    top: 130px;
    font-family: fantasy;
    color: #56c049;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
}
</style>
</head>
<body>
   <div id='temp_1'>{{temp_1[0]}}°C</div>

    <img src="{{ user_image }}" alt="User Image">
</body>
</html>
